footer {
    background: linear-gradient(rgba(75, 60, 93, 0.9)70%,  #FFF1CE 1%);
    color: black;
    padding: 20px;
}

footer p{
    color: #FFF1CE;
}

.footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-section div {
    width: 100%;
    margin: 5px 0;
}

.button {
    background-color: #FFF1CE;
    color: #4B3C5D;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icon {
    margin: 0 10px;
    margin-top: 10px;
}

.social-icon img {
    width: 30px;
}

/* Adiciona regras de mídia para tornar o site responsivo */
@media only screen and (min-width: 768px) {
    .footer-section div {
        width: 48%; /* Volta para a configuração original para telas maiores */
        margin: 5px;
    }
}
