.title{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
}

.sub-title{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.login-form {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-form button {
    background-color: #4B3C5D;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
}

.login-form button:hover {
    background-color: #ddd;
}

.sub-title {
    text-align: center;
    margin-top: 20px;
}

.title {
    text-align: center;
    margin: 40px 0;
}

.signup-form {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-form label {
    display: block;
    margin-bottom: 8px;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.signup-form button {
    background-color: #4B3C5D;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
}

.signup-form button:hover {
    background-color: #ddd;
}
